##Data Files
**/deepspeech_data/deepspeech**
**/pretrained/
**pretrained**

## No jupyter notebook
**.ipynb

## No flask app files
**flask**

## local files
**/hello**
**/utils.py
**/requirements2.txt
